/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]serSettings/
/.vs/
/*.csproj
/*.sln
/*.userprefs
*.apk
*.ipa
*.env
*.key
secrets.json
.DS_Store
# Ignore Firebase binaries
Assets/firebase/Plugins/x86_64/FirebaseCppApp-12_8_0.bundle
Assets/firebase/Plugins/x86_64/FirebaseCppApp-12_8_0.so

# Ignore large design files
Assets/icons/simple icon.psd

